@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  flex-direction: column;
  font-size: 14px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.core-div {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Fraunces", serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
  color: hsl(228, 12%, 48%);
  letter-spacing: 4px;
}

.d4-header {
  display: flex;
  flex-direction: row;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: bold;
}

.old-price {
  color: hsl(228, 12%, 48%);
  font-family: "Fraunces", serif;
  font-size: smaller;
  text-decoration: line-through;
  padding-left: 5%;
}

.description-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: hsl(0, 0%, 100%);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding-left: 35px;
  padding-right: 35px;
}

.product-detail-pic {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 30%;
}

.product-description {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: bold;
}

.cart-picture {
  padding-right: 5px;
}

.btn-add-to-cart {
  background-color: hsl(158, 36%, 37%);
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 4px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 12px;
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btn-add-to-cart:hover {
  background-color: hsl(157, 37%, 22%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
